/* General Wrapper Styles */
.wrapper {
    display: flex; /* Use flexbox for easy alignment */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    min-height: 100vh; /* At least the full height of the viewport */
    margin: 0;
    padding: 0;
  
}

/* Navigation Styles */
#topnav {
  display: inline-block;
  margin: 0 auto; /* Centers the navigation within the wrapper */
}

/* Unordered List Styles for Navigation */
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* List Item Styles */
.nav li {
  display: inline-block; /* Aligns the list items in a row */
  margin-right: -4px; /* Removes the gap between inline-block elements */
}

/* Link Styles */
.nav a {
  text-decoration: bold;
  font-size: 18px;
  padding: 10px 15px; /* Adds padding to the links for a larger click area */
  display: block;
  color: #000000; /* Sets the text color */
  background-color: #FF5733; /* Sets the background color */
  transition: background-color 0.3s; /* Adds a transition effect on hover */
}

/* Hover and Active States */
.nav a:hover,
.nav li.active a {
  background-color: #c65c47; /* Darkens the link on hover */
}

/* Last Item Style */
.nav .last {
  margin-right: 0; /* Removes margin on the last item */
}

/* Clearfix */
.clear {
  clear: both;
}






/* ----------------------------------------------Various website styles------------------------------------- */


body {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    color: white;
}

/* Set the background colour */
body {
    background-color: #2D1E2F;
}

p {
  color: white;
}

body {
 font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
 color: #c65c47
}

.special-h1 {
    font-weight: bold;
    color: #FF5733;
    font-size: 40px;
    text-align: center;
}

.special-h2 {
  font-family: 'Crimson Text', serif;
  margin-bottom: 80px; /* Adjust the value as needed to control the spacing */
  color: white
  

}

.link-h2 {
  color: #FF5733; /* Remove underlines */
  font-weight: bold;
  text-align: center;

}

/* Increase spacing for <li> bullet points */
li {
  margin-left: 20px; /* Adjust the value as needed to control the spacing */
  list-style: disc outside; /* Add bullet points outside the list item */
  margin-bottom: 10px; /* Adjust the value as needed to control the spacing */
}


/* Remove underlines and set the color */
   a {
        text-decoration: none; 
        color: #FF5733; 
        font-weight: normal;
      }


      table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }



    