body {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    color: white;
}

/* Set the background color to pastel blue */
body {
    background-color: #2D1E2F;
}

p {
  color: white;
}

body {
 font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
}

.special-h1 {
    font-weight: bold;
    color: #FF5733;
    font-size: 40px;
    text-align: center;
}

.special-h2 {
  font-family: 'Crimson Text', serif;
  margin-bottom: 80px; /* Adjust the value as needed to control the spacing */
  

}

.a {
  text-decoration: none; /* Remove underlines */
  color: #FF5733; 
  font-weight: bold;
  text-align: center;

}

/* Increase spacing for <li> bullet points */
li {
  margin-left: 20px; /* Adjust the value as needed to control the spacing */
  list-style: disc outside; /* Add bullet points outside the list item */
  margin-bottom: 10px; /* Adjust the value as needed to control the spacing */
}


/* Remove underlines and set the color */
   a {
        text-decoration: none; /* Remove underlines */
        color: #ffff; /* Set the color to black, or any color you prefer */
        font-weight: normal;
      }