#topnav{z-index:1000; font-size:12px; text-align:center; text-transform:uppercase; border-top:1px solid #999999; border-bottom:1px solid #999999;}

/* ESSENTIAL STYLES */

.nav, .nav *{margin:0; padding:0; list-style:none;}
.nav ul{position:absolute; top:-999em; width:10em;}
.nav ul li{width:100%;}
.nav li:hover{visibility:inherit;}
.nav li{position:relative; display:inline-block; zoom:1; *display:inline;}
.nav a{display:block; position:relative;}
.nav li:hover ul, .nav li.sfHover ul{left:0; top:2.5em; z-index:99;}
ul.nav li:hover li ul, ul.nav li.sfHover li ul{top:-999em;}
ul.nav li li:hover ul, ul.nav li li.sfHover ul{left:10em; top:0;}
ul.nav li li:hover li ul, ul.nav li li.sfHover li ul{top:-999em;}
ul.nav li li li:hover ul, ul.nav li li li.sfHover ul{left:10em; top:0;}

/* Default Colours */

.nav a{padding:.75em 1em; text-decoration:none; background: color #0000;}
.nav li.active a{color:#2D1E2F;}
.nav a, .nav a:visited, .nav li.active li a{color:#333333;}
.nav li{background:#E0E0E0;}
.nav li li{background:#E0E0E0;}
.nav li li li{background:#E0E0E0;}
.nav li:hover, .nav li.sfHover, .nav a:focus, .nav a:hover, .nav a:active{background:#C0C0C0;}

/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{display:block; margin:0 0 1px 0; text-align:left;}
div.wrapper h1 {margin:0 0 0px 0; padding:0; font-size:NA; font-weight:normal; line-height:normal;}
div.wrapper h2 {margin:0 0 0px 0; padding:0; font-size:NA; font-weight:bold; line-height:normal; color:#FF5733}
div.wrapper h3 {margin:0 0 0px 0; padding:0; font-size:NA; font-weight:bold; line-height:normal; color:#FF5733}
div.wrapper h4, div.wrapper h5, div.wrapper h6{margin:0 0 0px 0; padding:0; font-size:NA; font-weight:bold; line-height:normal;}


/* ----------------------------------------------Various website styles------------------------------------- */


body {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    color: white;
}

/* Set the background colour */
body {
    background-color: #2D1E2F;
}

p {
  color: white;
}

body {
 font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
 color: #c65c47
}

.special-h1 {
    font-weight: bold;
    color: #FF5733;
    font-size: 40px;
    text-align: center;
}

.special-h2 {
  font-family: 'Crimson Text', serif;
  margin-bottom: 80px; /* Adjust the value as needed to control the spacing */
  color: white
  

}

.link-h2 {
  color: #FF5733; /* Remove underlines */
  font-weight: bold;
  text-align: center;

}

/* Increase spacing for <li> bullet points */
li {
  margin-left: 20px; /* Adjust the value as needed to control the spacing */
  list-style: disc outside; /* Add bullet points outside the list item */
  margin-bottom: 10px; /* Adjust the value as needed to control the spacing */
}


/* Remove underlines and set the color */
   a {
        text-decoration: none; /* Remove underlines */
        color: #FF5733; /* Set the color to black, or any color you prefer */
        font-weight: normal;
      }


      table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }



    